@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .navbar {
      position: relative;
      background-color: black;
      z-index: 2;
    }
  
    .navbar h1.logo {
      font-size: 14px;
      margin-right: 10px;
      color: white;
    }
  
    .nav-links {
      align-items: flex-start;
      padding: 10px;
      margin: 25px;
      display: flex;
      width: 100%; 
    }
  
    .nav-links li {
      margin: 5px 0;
      width: 100%; 
      text-align: left; 
    }
  
    .nav-links li a {
      padding: 5px; 
      display: block; 
      text-align: left; 
    }
  
     .dropdown-menu {
        position: static; 
        display: none; 
        width: 100%; 
        background-color: black;
      }
    
     .dropdown:hover .dropdown-menu {
        display: block; 
        position: absolute;
        top: 100%; 
        left: 0;
        background-color: black;
      }
    
     .dropdown-menu li {
        width: 100%;
        text-align: left;
      }
      
     .dropdown-menu li a {
        padding: 5px;
        display: block;
        text-align: left;
      }
    
  
  .events {
    padding: 20px;
  }

  .events .row {
    flex-direction: column; 
  }

  .events .col {
    width: 100%; 
    margin-bottom: 20px; 
  }
  
  .explore {
    padding: 20px; 
    overflow: hidden; 
  }

  .explore-content {
    width: 60%;
    padding: 15%;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr; 
    justify-items: center; 
    row-gap: 20px; 
  }
  
  .explore-content h1,
  .explore-content p,
  .explore-content .ctn {
    text-align: center; 
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .explore-content {
      width: 90%; 
      padding: 10px; 
    }
  }

  .tours {
    padding: 20px; 
    overflow: hidden; 
  }

.content-col {
    text-align: center;
}

.content-col h1 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

.content-col p {
    margin-bottom: 20px; 
}

.image-gallery {
    margin-top: 70px; 
  }

.image-gallery img {
    max-width: 100%; 
    margin-bottom: 20px; 
}

.faq {
  display: flex;
  align-items: center;
}

.faq-container {
    width: 90%; 
    margin: 0 auto;
    padding: 20px; 
  }

  .faq-item {
    /* Adjust styles for FAQ items on smaller screens */
    margin-bottom: 10px;
  }

  .question {
    font-size: 18px; 
  }

  .answer {
    padding-left: 10px; 
  }

  .everest-content h1 {
    font-size: 24px;
  }

  .everest-content p {
    font-size: 14px;
  }

  .everest-content .ctn {
    padding: 10px 20px;
    font-size: 14px;
  }

  flight-content .col {
    width: 100%;
    text-align: center;
  }
  
  .flight-content .col h4,
  .flight-content .col p {
    text-align: center;
  }

  /* For tablets */
@media screen and (max-width: 768px) {
  /* Your tablet-specific styles here */

  .navbar {
    background-color: black; 
  }

  .nav-links {
    font-size: 16px; /
  }
}

.footer {
  padding: 10px; 
}

.footer p {
  margin: 5px 0; 
}

/* For tablets */
@media screen and (max-width: 768px) {
  /* Example: Adjusting the footer for tablets */
  .footer {
    width: 100%; 
    max-width: 100%; 
    padding: 20px; 
    font-size: 16px;
  }
}